<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Мои уроки</title>
    <meta charset="UTF-8">
    <link rel="icon" href="https://vstu.by/templates/protostar/favicon.ico" type="image/x-icon">
</head>
<body>
<div th:insert="header/header :: header"></div>
<div class="container">
    <h2>Уроки</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson : ${lessons}">
            <td th:text="${lesson.title}">Название урока</td>
            <td>
                <a th:href="@{'/lessons/' + ${lesson.id}}" class="btn btn-info">Открыть</a>
                <a th:href="@{'/lessons/' + ${lesson.id}+'/test'}" th:if="${!lesson.tests.isEmpty()}" class="btn btn-warning">Пройти тест</a>
             </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
